.menuglobal{
    display: flex;
    justify-content: center;
    border-top: 3px solid rgb(0, 7, 75);
    border-bottom: 3px solid rgb(0, 7, 75);
    border-left: none; 
    border-right: none; 
}

.lienMenu a{
    display: flex;
    gap: 110px; 
    padding-top: 10px; 
    padding-bottom: 10px;
    font-family: 'Glass Antiqua', sans-serif;
    text-decoration: none;
    font-weight: 500;
    font-size: 35px;
    color: rgb(101, 143, 67);
    padding-top: 10px;
    padding-bottom: 10px;
}

.lienMenu{
    display: flex;
    gap: 110px;
}

.lienMenu:hover a{
    filter: blur(2px);
}

.lienMenu a:hover{
    filter: blur(0px);
}




