body {
    background-color: rgb(239,230,201);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

h1 {
    font-family: "Glass Antiqua", cursive;
    text-decoration: none;
    font-weight: 450;
    font-size: 70px;
    color: rgb(0, 7, 75);
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
    margin: 59px; 
}

h4 {
    display: flex;
    justify-content: center;
    font-family: "roboto", sans-serif;
    text-decoration: none;
    font-weight: 450;
    font-size: 28px;
    color: rgb(0, 7, 75);
    margin: 10px;
}

p{
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 26px;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Glass Antiqua", sans-serif;
    text-decoration: none;
    font-weight: 450;
    font-size: 50px;
    color: rgb(101, 143, 67);
    margin: 55px;
}

h3{
    display: flex;
    justify-content: center;
    font-family: "Glass Antiqua", sans-serif;
    text-decoration: none;
    font-weight: 420;
    font-size: 43px;
    color: rgb(0, 7, 75);
    margin: 15px;
}

.hidden{
    display: none !important;
}

.active{
    background-color: rgba(101, 143, 67, 0.226);
}

.buttonContainer{
    margin: 20px 650px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.buttonContainer a{
    display: flex;
    justify-content: center;
    font-family: "Glass Antiqua", sans-serif;
    text-decoration: none;
    font-weight: 450;
    font-size: 34px;
    color: rgb(0, 7, 75);
    margin: 10px;
}

.button1, .button2{
    border: 3px, solid, rgb(0, 7, 75);
    border-radius: 10px;
    padding: 23px;
    transition: background-color 0.3s ease;
}

.button1:hover, .button2:hover{
background-color: rgba(101, 143, 67, 0.356);
cursor: pointer;
}

.formation, .entreprise{
    background-color: #f4e6be;
    margin: 20px 290px;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 3px solid rgb(0, 7, 75);
    border-radius: 5px;
}

.cartouche{
    height: 400px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgba(101, 143, 67, 0.226);
    border: 3px solid rgb(0, 7, 75);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
}

.cartouche:hover{
    background-color: rgba(101, 143, 67, 0.356);
    cursor: pointer;
}

.imgProjet{
    height: 190px;
    width: 280px;
    border: 2.5px, solid, rgb(0, 7, 75);
    border-radius: 5px;
    margin: 0 auto;
}

.cartouche p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 20px;
}

.hidden{
    display: none !important;
}

.infoBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 600px;
    height: 600px;
    padding: 10px;
    background-color: rgba(239, 230, 201, 0.945); 
    border: 3px, solid, rgb(0, 7, 75);
    border-radius: 10px;
}


.bouttonRetour a{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 26;
    color: rgb(0, 7, 75);
    padding: 10px;
    border: 2.5px, solid, rgb(0, 7, 75);
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 10px;
    background-color: rgba(101, 143, 67, 0.226);
    transition: background-color 0.3s ease;
}

.bouttonRetour a:hover{
    background-color: rgba(101, 143, 67, 0.356);
    cursor: pointer;
}

.boxContent{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 600px;
}

.boxContent p{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px;
    font-size: 23px;
}

.allImgBox{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.imgBox{
    height: 190px;
    width: 280px;
    border: 2.5px, solid, rgb(0, 7, 75);
    border-radius: 5px;
    margin: 10px;
}

.imgBox:hover{
    border-color: rgba(101, 143, 67, 0.356);
}

.lienBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.lienBox a{
    font-family: 'roboto', sans-serif;
    font-weight: 400;
    font-size: 26;
    text-decoration: none;
    border: 2.5px, solid, rgb(0, 7, 75);
    border-radius: 5px;
    background-color: rgba(101, 143, 67, 0.226);
    transition: background-color 0.3s ease;
    padding: 10px;
    color: rgb(0, 7, 75);
}

.lienBox a:hover{
    background-color: rgba(101, 143, 67, 0.356);
    cursor: pointer;
}