body{
    background-image: url(../Asset/feuillageflou.png);
    background-size: cover;
}

.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
}