.hidden{
    display: none;
}

.menuglobal{
    display: inline-flex;
    padding: 30px;
    background-color: rgba(32, 122, 47, 0.719);
}

.menu{
    padding-left: 20px;
}

.LienMenu{
    
}