
h1{
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 90px;
    color: rgb(38, 2, 61);
}

h2{
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    font-weight: 700;
    font-size: 40px;
    color: rgb(38, 2, 61)
}

h3{
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    font-weight: 300;
    font-size: 50px;
    opacity: 0.5;
    color: rgb(2, 42, 61)
}

p{
    font-family: 'roboto', sans-serif;
    text-decoration: none;
    font-weight: 400;
    font-size: 30px;
}

.firstTitle{
    display: flex;
    padding-top: 130px;
    margin-left: 130px;

}