
.menuglobal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu{
    position: absolute;
    gap: 0px;
    right: -100%;
    transition: right 0.4s ease;
}

.visible{
    right: 0%;
}

.lienmenu{
    padding: 20px;
    background-color: rgba(32, 104, 62, 0.726);
}

.menuButton{
    margin: 20px;
    margin-right: auto;
}

.menuButton img{
    width: 24px;
    height: 24px;
}